.divider {
    border:dashed grey 1px;
    margin-top: 15px;
    margin-bottom:15px;
}

.doc {
    background-color: white;
    padding:15px;
    /*margin-top:1px;*/
}

.key-purpose {
    background-color: #F9CCCC;
}

.key-mechanism {
    background-color: rgb(194, 240, 194);
}

.key-neutral {
    background-color: white;
}

.token {
    border: none;
    /*background-color: rgb(238, 238, 238);*/
    padding:0px 0px 0px 0px;
    margin:0px;
}

.token-container {
    border: none;
    color: none;
}

.controls {
    margin-top:15px;
    
}